In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
path = '/content/drive/My Drive/Colab Notebooks/home-credit-default-risk'

In [ ]:
import pandas as pd 

import warnings
warnings.filterwarnings('ignore')

In [ ]:
app_train = pd.read_csv(path + '/application_train.csv')
app_train.head()

   SK_ID_CURR  TARGET  ... AMT_REQ_CREDIT_BUREAU_QRT AMT_REQ_CREDIT_BUREAU_YEAR
0      100002       1  ...                       0.0                        1.0
1      100003       0  ...                       0.0                        0.0
2      100004       0  ...                       0.0                        0.0
3      100006       0  ...                       NaN                        NaN
4      100007       0  ...                       0.0                        0.0

[5 rows x 122 columns]

In [ ]:
print('Training data shape: ', app_train.shape)

Training data shape:  (307511, 122)

In [ ]:
bureau = pd.read_csv(path + '/bureau.csv')

In [ ]:
bureau = bureau[:-1]

In [ ]:
bureau

         SK_ID_CURR  SK_ID_BUREAU  ... DAYS_CREDIT_UPDATE AMT_ANNUITY
0            215354       5714462  ...               -131         NaN
1            215354       5714463  ...                -20         NaN
2            215354       5714464  ...                -16         NaN
3            215354       5714465  ...                -16         NaN
4            215354       5714466  ...                -21         NaN
...             ...           ...  ...                ...         ...
1716422      375755       5057742  ...               -109         NaN
1716423      259355       5057750  ...                -19         NaN
1716424      100044       5057754  ...              -2493         NaN
1716425      100044       5057762  ...               -967         NaN
1716426      246829       5057770  ...              -1508         NaN

[1716427 rows x 17 columns]

In [ ]:
bureau_balance = pd.read_csv(path + '/bureau_balance.csv')

In [ ]:
bureau_balance

          SK_ID_BUREAU  MONTHS_BALANCE STATUS
0              5715448               0      C
1              5715448              -1      C
2              5715448              -2      C
3              5715448              -3      C
4              5715448              -4      C
...                ...             ...    ...
27299920       5041336             -47      X
27299921       5041336             -48      X
27299922       5041336             -49      X
27299923       5041336             -50      X
27299924       5041336             -51      X

[27299925 rows x 3 columns]

In [ ]:
bureau_id = pd.DataFrame(columns = ['SK_ID_CURR'])
bureau_id['SK_ID_CURR'] = bureau['SK_ID_CURR'].unique()
bureau_id

        SK_ID_CURR
0           215354
1           162297
2           402440
3           238881
4           222183
...            ...
305806      207190
305807      324956
305808      448157
305809      345866
305810      235871

[305811 rows x 1 columns]

In [ ]:
month_num = bureau_balance[bureau_balance["STATUS"] != 'X'].groupby('SK_ID_BUREAU').count()['MONTHS_BALANCE']
closed_num = bureau_balance[bureau_balance["STATUS"] == 'C'].groupby('SK_ID_BUREAU').count()['MONTHS_BALANCE']
closed_percent = pd.DataFrame(closed_num / month_num).fillna(0)
not_given = bureau_balance[bureau_balance["STATUS"] == 'X'].groupby('SK_ID_BUREAU').count()['MONTHS_BALANCE'] / month_num
not_given = pd.DataFrame(not_given[not_given == 1])
a = pd.concat([closed_percent, not_given]).reset_index().groupby('SK_ID_BUREAU').count().values
closed_percent[a == 2] = -1

In [ ]:
dpd = pd.DataFrame(index = bureau_balance.groupby('SK_ID_BUREAU').count().index)
dpd['0'] = 0
dpd['1'] = 0
dpd['2'] = 0
dpd['3'] = 0
dpd['4'] = 0
dpd['5'] = 0

dpd['0'] += bureau_balance[bureau_balance["STATUS"] == '0'].groupby('SK_ID_BUREAU').count()['STATUS']
dpd['1'] += bureau_balance[bureau_balance["STATUS"] == '1'].groupby('SK_ID_BUREAU').count()['STATUS']
dpd['2'] += bureau_balance[bureau_balance["STATUS"] == '2'].groupby('SK_ID_BUREAU').count()['STATUS']
dpd['3'] += bureau_balance[bureau_balance["STATUS"] == '3'].groupby('SK_ID_BUREAU').count()['STATUS']
dpd['4'] += bureau_balance[bureau_balance["STATUS"] == '4'].groupby('SK_ID_BUREAU').count()['STATUS']
dpd['5'] += bureau_balance[bureau_balance["STATUS"] == '5'].groupby('SK_ID_BUREAU').count()['STATUS']

dpd = dpd.fillna(0)
dpd['avg'] = (dpd['0'] + dpd['1'] * 2 + dpd['2'] * 3 + dpd['3'] * 4 + dpd['4'] * 5 + dpd['5'] * 6) / month_num
dpd = pd.DataFrame(dpd['avg'])

dpd.columns = ['MONTHS_BALANCE']
a = pd.concat([dpd, not_given]).reset_index().groupby('SK_ID_BUREAU').count()
dpd[a == 2] = -1

In [ ]:
t = pd.DataFrame(index = bureau['SK_ID_BUREAU'])
t['closed_percent'] = 0
t['closed_percent'] += closed_percent['MONTHS_BALANCE']
bureau = bureau.merge(t.reset_index(), on='SK_ID_BUREAU')

In [ ]:
t = pd.DataFrame(index = bureau['SK_ID_BUREAU'])
t['dpd'] = 0
t['dpd'] += dpd['MONTHS_BALANCE']

bureau = bureau.merge(t.reset_index(), on='SK_ID_BUREAU')

In [ ]:
long_num = bureau_balance[bureau_balance["STATUS"] == '5'].groupby('SK_ID_BUREAU').count()['MONTHS_BALANCE']
long_percent = pd.DataFrame(long_num / month_num).fillna(0)
a = pd.concat([long_percent, not_given]).reset_index().groupby('SK_ID_BUREAU').count().values
long_percent[a == 2] = -1
t = pd.DataFrame(index = bureau['SK_ID_BUREAU'])
t['long_percent'] = 0
t['long_percent'] += long_percent['MONTHS_BALANCE']
bureau = bureau.merge(t.reset_index(), on='SK_ID_BUREAU')

In [ ]:
good_num = bureau_balance[(bureau_balance["STATUS"] == 'C') | (bureau_balance["STATUS"] == '0') |
                          (bureau_balance["STATUS"] == '1')].groupby('SK_ID_BUREAU').count()['MONTHS_BALANCE']
good_percent = pd.DataFrame(good_num / month_num).fillna(0)
a = pd.concat([good_percent, not_given]).reset_index().groupby('SK_ID_BUREAU').count().values
good_percent[a == 2] = -1

t = pd.DataFrame(index = bureau['SK_ID_BUREAU'])
t['good_percent'] = 0
t['good_percent'] += good_percent['MONTHS_BALANCE']
bureau = bureau.merge(t.reset_index(), on='SK_ID_BUREAU')

In [ ]:
import numpy as np
last_months = bureau_balance.drop_duplicates(subset=['SK_ID_BUREAU'])
last_closed = pd.DataFrame(np.vectorize(lambda x: 1 if x == 'C' else (-1 if x == 'X' else 0))(last_months['STATUS']))
last_closed.index = last_months['SK_ID_BUREAU'].values

t = pd.DataFrame(index = bureau['SK_ID_BUREAU'])
t['last_closed'] = 0
t['last_closed'] += last_closed[0]
bureau = bureau.merge(t.reset_index(), on='SK_ID_BUREAU')

closed_percent - доля месяцев в которые по данной заявке была выплачена вся сумма и -1, если вообще нет данных по статусу этой заявки

dpd - среднее количество месяцев, на которое клиент просрочивал выплаты и -1, если вообще нет данных по статусу этой заявки

long_percent - доля месяцев, в которые клиент просрочил выплаты на 120+ дней

good_percent - доля месяцев, в которые задержка была не более 2 месяцев

last_closed - был ли погашен кредит в последний месяц из тех, по которым есть данные

In [ ]:
bureau['fact_credit_duration'] = bureau['DAYS_ENDDATE_FACT'] - bureau['DAYS_CREDIT']
bureau['delay'] = bureau['DAYS_ENDDATE_FACT']  - bureau['DAYS_CREDIT_ENDDATE']

fact_credit_duration - сколько дней выплачивался кредит (для закрытых кредитов, иначе None)

delay - задержка по выплате кредита (отрицательная, если кредит был погашен досрочно) (для закрытых кредитов, иначе None)

In [ ]:
bureau['CREDIT_TYPE'].unique()

array(['Consumer credit', 'Credit card', 'Mortgage', 'Car loan',
       'Microloan', 'Loan for working capital replenishment',
       'Loan for business development', 'Real estate loan',
       'Unknown type of loan', 'Another type of loan',
       'Cash loan (non-earmarked)', 'Loan for the purchase of equipment',
       'Mobile operator loan', 'Interbank credit',
       'Loan for purchase of shares (margin lending)'], dtype=object)

In [ ]:
bureau[bureau['CREDIT_TYPE'] == 'Real estate loan']['CREDIT_TYPE'] = 'Mortgage'

In [ ]:
bureau

         SK_ID_CURR  SK_ID_BUREAU  ... fact_credit_duration    delay
0            215354       5714462  ...                344.0      0.0
1            215354       5714463  ...                  NaN      NaN
2            215354       5714464  ...                  NaN      NaN
3            215354       5714465  ...                  NaN      NaN
4            215354       5714466  ...                  NaN      NaN
...             ...           ...  ...                  ...      ...
1716422      375755       5057742  ...               2459.0 -31318.0
1716423      259355       5057750  ...                  NaN      NaN
1716424      100044       5057754  ...                155.0    -60.0
1716425      100044       5057762  ...                839.0    658.0
1716426      246829       5057770  ...                365.0      0.0

[1716427 rows x 24 columns]

In [ ]:
def count_apps(index, data, column, credit_type, time):
  num = pd.DataFrame(index = index, columns=['0'])
  if credit_type == 'all':
    num['0'] = data.loc[:, ['SK_ID_CURR', column]][data['DAYS_CREDIT'] >= -365*time].groupby('SK_ID_CURR')[column].count()
  else:
    num['0'] = data.loc[:, ['SK_ID_CURR', column]][data['DAYS_CREDIT'] >= -365*time][data['CREDIT_TYPE'] == credit_type].groupby('SK_ID_CURR')[column].count()
  return num['0'].fillna(0)

def sum_apps(index, data, column, credit_type, time):
  sum = pd.DataFrame(index = index, columns=['0'])
  if credit_type == 'all':
    sum['0'] = data.loc[:, ['SK_ID_CURR', column]][data['DAYS_CREDIT'] >= -365*time].groupby('SK_ID_CURR')[column].sum()
  else:
    sum['0'] = data.loc[:, ['SK_ID_CURR', column]][data['DAYS_CREDIT'] >= -365*time][data['CREDIT_TYPE'] == credit_type].groupby('SK_ID_CURR')[column].sum()
  return sum['0'].fillna(0)

def mean_apps(index, data, column, credit_type, time):
  mean = pd.DataFrame(index = index, columns=['0'])
  if credit_type == 'all':
    mean['0'] = data.loc[:, ['SK_ID_CURR', column]][data['DAYS_CREDIT'] >= -365*time].groupby('SK_ID_CURR')[column].mean()
  else:
    mean['0'] = data.loc[:, ['SK_ID_CURR', column]][data['DAYS_CREDIT'] >= -365*time][data['CREDIT_TYPE'] == credit_type].groupby('SK_ID_CURR')[column].mean()
  return mean['0'].fillna(0)

def max_apps(index, data, column, credit_type, time):
  max = pd.DataFrame(index = index, columns=['0'])
  if credit_type == 'all':
    max['0'] = data.loc[:, ['SK_ID_CURR', column]][data['DAYS_CREDIT'] >= -365*time].groupby('SK_ID_CURR')[column].max()
  else:
    max['0'] = data.loc[:, ['SK_ID_CURR', column]][data['DAYS_CREDIT'] >= -365*time][data['CREDIT_TYPE'] == credit_type].groupby('SK_ID_CURR')[column].max()
  return max['0'].fillna(0)

In [ ]:
app_train_b = app_train.merge(bureau_id, on='SK_ID_CURR').set_index(['SK_ID_CURR'])

In [ ]:
#count
time = [1, 3, 1000]
types = ['Credit card','Consumer credit','Mortgage','Car loan', 'all']
index = app_train_b.index
for t in time:
  for ty in types:
    if t != 1000:
      app_train_b['b_' + ty + '_num_' + str(t)] = count_apps(index, bureau, 'SK_ID_BUREAU', ty, t)
      app_train_b['b_overdue_num_' + ty + '_' + str(t)] = count_apps(index, bureau[bureau['AMT_CREDIT_SUM_OVERDUE'] > 0], 'SK_ID_BUREAU', ty, t)
    else:
      app_train_b['b_' + ty + '_num'] = count_apps(index, bureau, 'SK_ID_BUREAU', ty, t)
      app_train_b['b_overdue_num_' + ty] = count_apps(index, bureau[bureau['AMT_CREDIT_SUM_OVERDUE'] > 0], 'SK_ID_BUREAU', ty, t)
  if t != 1000:
    app_train_b[['b_Microloan_num_' + str(t)]] = count_apps(index, bureau, 'SK_ID_BUREAU', 'Microloan', t)
  else:
    app_train_b[['b_Microloan_num']] = count_apps(index, bureau, 'SK_ID_BUREAU', 'Microloan', t)
    app_train_b[['b_Microloan_active_num' + str(t)]] = count_apps(index, bureau[bureau['CREDIT_ACTIVE'] == 'Active'], 'SK_ID_BUREAU', 'Microloan', t)

for ty in types:
    app_train_b['b_active_' + ty + '_num'] = count_apps(index, bureau[bureau['CREDIT_ACTIVE'] == 'Active'], 'SK_ID_BUREAU', ty, 1000)
    app_train_b['b_closed_' + ty + '_num'] = count_apps(index, bureau[bureau['CREDIT_ACTIVE'] == 'Closed'], 'SK_ID_BUREAU', ty, 1000)
    app_train_b['b_now_overdue_num_' + ty] = count_apps(index, bureau[bureau['CREDIT_DAY_OVERDUE'] > 0], 'SK_ID_BUREAU', ty, 1000)
    app_train_b['b_prolong_num_' + ty] = count_apps(index, bureau[bureau['CNT_CREDIT_PROLONG'] > 0], 'SK_ID_BUREAU', ty, 1000)
    if ty != 'Credit card':
      app_train_b['b_late_num_' + ty] = count_apps(index, bureau[(bureau['delay'] > 0) & (bureau['CREDIT_TYPE'] != 'Credit card')], 'SK_ID_BUREAU', ty, 1000)
      app_train_b['b_early_num_' + ty] = count_apps(index, bureau[(bureau['delay']< 0) & (bureau['CREDIT_TYPE'] != 'Credit card')], 'SK_ID_BUREAU', ty, 1000)

app_train_b['b_debt_num'] = count_apps(index, bureau[bureau['AMT_CREDIT_SUM_DEBT'] > 0], 'SK_ID_BUREAU', 'all', 1000)

In [ ]:
#sum
for t in time:
  for ty in types:
    if t != 1000:
      if ty != 'Mortgage':
        app_train_b['b_' + ty + '_sum_' + str(t)] = sum_apps(index, bureau, 'AMT_CREDIT_SUM', ty, t)
    else:
      app_train_b['b_' + ty + '_sum'] = sum_apps(index, bureau, 'AMT_CREDIT_SUM', ty, t)

app_train_b['b_debt_sum'] = sum_apps(index, bureau[bureau['AMT_CREDIT_SUM_DEBT'] > 0], 'AMT_CREDIT_SUM_DEBT', 'all', 1000)
app_train_b['b_left_sum'] = sum_apps(index, bureau[bureau['AMT_CREDIT_SUM'] > 0], 'AMT_CREDIT_SUM', 'all', 1000)

In [ ]:
#mean
for t in time:
  for ty in types:
    if t != 1000:
      if ty != 'Mortgage':
        app_train_b['b_' + ty + '_avg_' + str(t)] = mean_apps(index, bureau, 'AMT_CREDIT_SUM', ty, t)
      app_train_b['b_overdue_avg_' + ty + '_' + str(t)] = mean_apps(index, bureau[bureau['AMT_CREDIT_SUM_OVERDUE'] > 0], 'AMT_CREDIT_SUM_OVERDUE', ty, t)
    else:
      app_train_b['b_' + ty + '_avg'] = mean_apps(index, bureau, 'AMT_CREDIT_SUM', ty, t)
      app_train_b['b_overdue_avg_' + ty] = mean_apps(index, bureau[bureau['AMT_CREDIT_SUM_OVERDUE'] > 0], 'AMT_CREDIT_SUM_OVERDUE', ty, t)

for ty in types:
  app_train_b['b_active_' + ty + '_dur_avg'] = mean_apps(index, bureau[bureau['DAYS_CREDIT_ENDDATE'] > 0], 'DAYS_CREDIT_ENDDATE', ty, 1000)
  app_train_b['b_start_' + ty + '_avg'] = mean_apps(index, bureau, 'DAYS_CREDIT', ty, 1000)
  app_train_b['b_now_overdue_avg_' + ty] = mean_apps(index, bureau[(bureau['CREDIT_ACTIVE'] == 'Active') & (bureau['CREDIT_DAY_OVERDUE'] > 0)], 'CREDIT_DAY_OVERDUE', ty, 1000)
  app_train_b['b_closed_days_avg_' + ty] = mean_apps(index, bureau[bureau['DAYS_ENDDATE_FACT'] <= 0], 'DAYS_ENDDATE_FACT', ty, 1000)
  app_train_b['b_prolong_avg_' + ty] = mean_apps(index, bureau[bureau['CNT_CREDIT_PROLONG'] > 0], 'CNT_CREDIT_PROLONG', ty, 1000)
  app_train_b['b_amt_annuity_' + ty] = mean_apps(index, bureau[bureau['AMT_ANNUITY'] > 0], 'AMT_ANNUITY', ty, 1000)
  app_train_b['b_debt_avg_' + ty] = mean_apps(index, bureau[bureau['AMT_CREDIT_SUM_DEBT'] > 0], 'AMT_CREDIT_SUM_DEBT', ty, 1000)
  if ty != 'Credit card':
    app_train_b['b_dur_avg_' + ty] = mean_apps(index, bureau[bureau['CREDIT_ACTIVE'] == 'Closed'], 'fact_credit_duration', ty, 1000)

app_train_b['b_limit_avg_'] = mean_apps(index, bureau[bureau['AMT_CREDIT_SUM_LIMIT'] > 0], 'AMT_CREDIT_SUM_LIMIT', 'Credit card', 1000)
app_train_b['b_closed_percent_avg'] = mean_apps(index, bureau[bureau['closed_percent'].isna() == False], 'closed_percent', 'all', 1000)
app_train_b['b_dpd_avg'] = mean_apps(index, bureau[bureau['dpd'].isna() == False], 'dpd', 'all', 1000)
app_train_b['b_long_percent_avg'] = mean_apps(index, bureau[bureau['long_percent'].isna() == False], 'long_percent', 'all', 1000)
app_train_b['b_good_percent_avg'] = mean_apps(index, bureau[bureau['good_percent'].isna() == False], 'good_percent', 'all', 1000)

In [ ]:
#max
for t in time:
  for ty in types:
    if t != 1000:
      app_train_b['b_overdue_max_' + ty+'_'+str(t)] = max_apps(index, bureau[bureau['AMT_CREDIT_SUM_OVERDUE'] > 0], 'AMT_CREDIT_SUM_OVERDUE', ty, t)
    else:
      app_train_b['b_overdue_max_' + ty] = max_apps(index, bureau[bureau['AMT_CREDIT_SUM_OVERDUE'] > 0], 'AMT_CREDIT_SUM_OVERDUE', ty, t)


for ty in types:
  app_train_b['b_' + ty + '_mean'] = max_apps(index, bureau, 'AMT_CREDIT_SUM', ty, 1000)
  app_train_b['b_active_' + ty + '_dur_max'] = max_apps(index, bureau[bureau['DAYS_CREDIT_ENDDATE'] > 0], 'DAYS_CREDIT_ENDDATE', ty, 1000)
  app_train_b['b_last_closed_' + ty] = bureau.groupby('SK_ID_CURR')['DAYS_ENDDATE_FACT'].max()[app_train_b[app_train_b['b_active_all_num'] == 0].index]

app_train_b['b_limit_max'] = max_apps(index, bureau[bureau['AMT_CREDIT_SUM_LIMIT'] > 0], 'AMT_CREDIT_SUM_LIMIT', 'Credit card', 1000)
app_train_b['b_debt_max'] = max_apps(index, bureau[bureau['AMT_CREDIT_SUM_DEBT'] > 0], 'AMT_CREDIT_SUM_DEBT', 'all', 1000)

In [ ]:
#other
app_train_b['b_Microloan'] = (app_train_b['b_Microloan_num']/app_train_b['b_Microloan_num']).fillna(0)
for ty in types:
  app_train_b['b_currency_1_percent_'+ty] = (bureau[(bureau['CREDIT_CURRENCY'] == 'currency 1') & (bureau['CREDIT_TYPE'] == ty)].groupby('SK_ID_CURR')['CREDIT_CURRENCY'].count()/app_train_b['b_'+ty+'_num']).fillna(-1)
  app_train_b['b_now_overdue_percent_' + ty] = (app_train_b['b_now_overdue_num_' + ty] / app_train_b['b_active_'+ty+'_num']).fillna(-1)

for t in time:
  for ty in types:
    if t != 1000:
      app_train_b['b_overdue_'+ty+'_'+str(t)] = (app_train_b['b_overdue_num_'+ty+'_'+str(t)] / app_train_b['b_overdue_num_'+ty+'_'+str(t)]).fillna(0)
    else:
      app_train_b['b_overdue_'+ty] = (app_train_b['b_overdue_num_'+ty] / app_train_b['b_overdue_num_'+ty]).fillna(0)

min = pd.DataFrame(index = index, columns = ['0'])
min['0'] = bureau.loc[:, ['SK_ID_CURR', 'AMT_CREDIT_SUM_LIMIT']][bureau['CREDIT_TYPE'] == 'Credit card'].groupby('SK_ID_CURR').min()['AMT_CREDIT_SUM_LIMIT']
app_train_b['b_limit_min'] = min['0'].fillna(0)

In [ ]:
for c in app_train_b.columns[122:]:
  if app_train_b[c].sum() == 0:
   print(c)

In [ ]:
app_train_b

            TARGET NAME_CONTRACT_TYPE  ... b_overdue_all b_limit_min
SK_ID_CURR                             ...
100002           1         Cash loans  ...           0.0   31988.565
100003           0         Cash loans  ...           0.0       0.000
100004           0    Revolving loans  ...           0.0       0.000
100007           0         Cash loans  ...           0.0       0.000
100008           0         Cash loans  ...           0.0       0.000
...            ...                ...  ...           ...         ...
456247           0         Cash loans  ...           0.0       0.000
456249           0         Cash loans  ...           0.0       0.000
456253           0         Cash loans  ...           0.0       0.000
456254           1         Cash loans  ...           0.0       0.000
456255           0         Cash loans  ...           0.0       0.000

[263491 rows x 330 columns]

Признаки из previous_application

In [ ]:
prev = pd.read_csv(path + '/previous_application.csv')

In [ ]:
prev

         SK_ID_PREV  SK_ID_CURR  ... DAYS_TERMINATION  NFLAG_INSURED_ON_APPROVAL
0           2030495      271877  ...            -37.0                        0.0
1           2802425      108129  ...         365243.0                        1.0
2           2523466      122040  ...         365243.0                        1.0
3           2819243      176158  ...           -177.0                        1.0
4           1784265      202054  ...              NaN                        NaN
...             ...         ...  ...              ...                        ...
1670209     2300464      352015  ...           -351.0                        0.0
1670210     2357031      334635  ...          -1297.0                        0.0
1670211     2659632      249544  ...          -1181.0                        0.0
1670212     2785582      400317  ...           -817.0                        1.0
1670213     2418762      261212  ...           -423.0                        0.0

[1670214 rows x 37 columns]

In [ ]:
prev_id = pd.DataFrame(columns = ['SK_ID_CURR'])
prev_id['SK_ID_CURR'] = prev['SK_ID_CURR'].unique()
app_train_p = pd.DataFrame(app_train['SK_ID_CURR']).merge(prev_id, on='SK_ID_CURR').set_index(['SK_ID_CURR'])
app_train_p

Empty DataFrame
Columns: []
Index: [100002, 100003, 100004, 100006, 100007, 100008, 100009, 100010, 100011, 100012, 100014, 100015, 100016, 100017, 100018, 100019, 100020, 100021, 100022, 100023, 100025, 100026, 100027, 100029, 100030, 100032, 100033, 100034, 100035, 100036, 100037, 100039, 100040, 100041, 100043, 100044, 100045, 100046, 100047, 100048, 100049, 100050, 100051, 100052, 100053, 100054, 100055, 100056, 100059, 100060, 100061, 100062, 100063, 100064, 100068, 100069, 100070, 100071, 100072, 100073, 100075, 100077, 100078, 100079, 100080, 100081, 100082, 100083, 100084, 100085, 100086, 100087, 100088, 100089, 100093, 100094, 100095, 100097, 100098, 100099, 100100, 100101, 100103, 100104, 100105, 100108, 100110, 100111, 100112, 100113, 100114, 100115, 100116, 100118, 100119, 100120, 100121, 100122, 100123, 100124, ...]

[291057 rows x 0 columns]

In [ ]:
prev[prev['NAME_CONTRACT_STATUS'] == 'Refused']['NAME_CONTRACT_STATUS'] = 'Canceled'

In [ ]:
def p_count_apps(index, data, column, credit_type, time):
  num = pd.DataFrame(index = index, columns=['0'])
  if credit_type == 'all':
    num['0'] = data.loc[:, ['SK_ID_CURR', column]][data['DAYS_DECISION'] >= -365*time].groupby('SK_ID_CURR')[column].count()
  else:
    num['0'] = data.loc[:, ['SK_ID_CURR', column]][data['DAYS_DECISION'] >= -365*time][data['NAME_CONTRACT_TYPE'] == credit_type].groupby('SK_ID_CURR')[column].count()
  return num['0'].fillna(0)

def p_sum_apps(index, data, column, credit_type, time):
  sum = pd.DataFrame(index = index, columns=['0'])
  if credit_type == 'all':
    sum['0'] = data.loc[:, ['SK_ID_CURR', column]][data['DAYS_DECISION'] >= -365*time].groupby('SK_ID_CURR')[column].sum()
  else:
    sum['0'] = data.loc[:, ['SK_ID_CURR', column]][data['DAYS_DECISION'] >= -365*time][data['NAME_CONTRACT_TYPE'] == credit_type].groupby('SK_ID_CURR')[column].sum()
  return sum['0'].fillna(0)

def p_mean_apps(index, data, column, credit_type, time):
  mean = pd.DataFrame(index = index, columns=['0'])
  if credit_type == 'all':
    mean['0'] = data.loc[:, ['SK_ID_CURR', column]][data['DAYS_DECISION'] >= -365*time].groupby('SK_ID_CURR')[column].mean()
  else:
    mean['0'] = data.loc[:, ['SK_ID_CURR', column]][data['DAYS_DECISION'] >= -365*time][data['NAME_CONTRACT_TYPE'] == credit_type].groupby('SK_ID_CURR')[column].mean()
  return mean['0'].fillna(0)

def p_percent_apps(index, data, credit_type):
  return (p_count_apps(index, data, 'SK_ID_PREV', credit_type, 1000) / app_train_p['p_' + credit_type + '_num'].fillna(1)).fillna(0)

In [ ]:
#count

time = [1, 3, 1000]
types = ['Consumer loans', 'Cash loans', 'Revolving loans', 'all']
index = app_train_p.index
for t in time:
  for ty in types:
    if t != 1000:
      app_train_p['p_' + ty + '_num_' + str(t)] = p_count_apps(index, prev, 'SK_ID_PREV', ty, t)
      app_train_p['p_' + ty + '_canceled_num_' + str(t)] = p_count_apps(index, prev[prev['NAME_CONTRACT_STATUS'] == 'Canceled'], 'SK_ID_PREV', ty, t)
    else:
      app_train_p['p_' + ty + '_num'] = p_count_apps(index, prev, 'SK_ID_PREV', ty, t)
      app_train_p['p_' + ty + '_canceled_num'] = p_count_apps(index, prev[prev['NAME_CONTRACT_STATUS'] == 'Canceled'], 'SK_ID_PREV', ty, t)

app_train_p['p_unused_num'] = p_count_apps(index, prev[prev['NAME_CONTRACT_STATUS'] == 'Unused offer'], 'SK_ID_PREV', 'all', 1000)

In [ ]:
#sum

for t in time:
  if t != 1000:
    app_train_p['p_sum' + str(t)] = p_sum_apps(index, prev[prev['NAME_CONTRACT_STATUS'] == 'Approved'], 'AMT_APPLICATION','all', t)
  else:
    app_train_p['p_sum'] = p_sum_apps(index, prev[prev['NAME_CONTRACT_STATUS'] == 'Approved'], 'AMT_APPLICATION', 'all', t)

In [ ]:
#mean

for t in time:
  for ty in types:
    if t != 1000:
      app_train_p['p_' + ty + '_sum_app_avg_' + str(t)] = p_mean_apps(index, prev, 'AMT_APPLICATION', ty, t)
      app_train_p['p_' + ty + '_sum_avg_' + str(t)] = p_mean_apps(index, prev[prev['NAME_CONTRACT_STATUS'] == 'Approved'], 'AMT_CREDIT', ty, t)
    else:
      app_train_p['p_' + ty + '_sum_app_avg'] = p_mean_apps(index, prev, 'AMT_APPLICATION', ty, t)
      app_train_p['p_' + ty + '_sum_avg_'] = p_mean_apps(index, prev[prev['NAME_CONTRACT_STATUS'] == 'Approved'], 'AMT_CREDIT', ty, t)

for ty in types:
  app_train_p['p_' + ty + '_down_payment_avg_'] = p_mean_apps(index, prev[prev['NAME_CONTRACT_STATUS'] == 'Approved'], 'RATE_DOWN_PAYMENT', ty, 1000)

app_train_p['p_cnt_avg'] = p_mean_apps(index, prev, 'CNT_PAYMENT', 'all', 1000)

In [ ]:
#percent

for ty in types:
  app_train_p['p_' + ty + '_low_percent'] = p_percent_apps(index, prev[prev['AMT_CREDIT'] < prev['AMT_APPLICATION']], ty)
  app_train_p['p_' + ty + '_high_percent'] = p_percent_apps(index, prev[prev['AMT_CREDIT'] > prev['AMT_APPLICATION']], ty)

days = prev['WEEKDAY_APPR_PROCESS_START'].unique()
for d in days:
  app_train_p['p_app_' + d + '_percent'] = p_percent_apps(index, prev[prev['WEEKDAY_APPR_PROCESS_START'] == d], 'all')

app_train_p['p_morning_percent'] = p_percent_apps(index, prev[prev['HOUR_APPR_PROCESS_START'] <= 14], 'all')
app_train_p['p_evening_percent'] = p_percent_apps(index, prev[prev['HOUR_APPR_PROCESS_START'] > 14], 'all')

pay_types = prev['NAME_PAYMENT_TYPE'].unique()
for t in pay_types:
  if t != 'XNA':
      app_train_p['p_' + t + '_percent'] = p_percent_apps(index, prev[prev['NAME_PAYMENT_TYPE'] == t], 'all')


suite_groups = {'Family':['Children', 'Family'], 'Partner':['Spouse, partner'], 'Unaccompanied':['Unaccompanied'], 'Other':['Group of people', 'Other_A', 'Other_B']}
for g in suite_groups:
  prev[g] = np.vectorize(lambda x: 1 if x in suite_groups[g] else 0)(prev['NAME_TYPE_SUITE'])
  app_train_p['p_type_suite_' + g + '_percent'] = p_percent_apps(index, prev[prev[g] == 1], 'all')
  prev.drop(columns=[g])

for t in prev['NAME_PRODUCT_TYPE'].unique()[1:]:
  app_train_p['p_prod_type_' + t] = p_percent_apps(index, prev[prev['NAME_PRODUCT_TYPE'] == t], 'all')

for t in prev['NAME_YIELD_GROUP'].unique()[:-1]:
  app_train_p['p_yield_' + t] = p_percent_apps(index, prev[prev['NAME_YIELD_GROUP'] == t], 'all')

for t in time:
  if t != 1000:
    app_train_p['p_ins_percent_' + str(t)] = (p_count_apps(index, prev[prev['NAME_CONTRACT_STATUS'] == 'Approved'][prev['NFLAG_INSURED_ON_APPROVAL'] == 1], 'SK_ID_PREV', 'all', t) / p_count_apps(index, prev[prev['NAME_CONTRACT_STATUS'] == 'Approved'], 'SK_ID_PREV', 'all', t).fillna(1)).fillna(0)
  else:
    app_train_p['p_ins_percent'] =  (p_count_apps(index, prev[prev['NAME_CONTRACT_STATUS'] == 'Approved'][prev['NFLAG_INSURED_ON_APPROVAL'] == 1], 'SK_ID_PREV', 'all', t) / p_count_apps(index, prev[prev['NAME_CONTRACT_STATUS'] == 'Approved'], 'SK_ID_PREV', 'all', t).fillna(1)).fillna(0)

groups = {'Card':['Card X-Sell', 'Card Street'], 'Cash':['Cash'], 'Cash X-Sell':['Cash X-Sell: low', 'Cash X-Sell: middle', 'Cash X-Sell: high'],
          'Cash Street':['Cash Street: low', 'Cash Street: middle', 'Cash Street: high'], 'POS mobile':['POS mobile with interest', 'POS mobile without interest'],
          'POS household':['POS household with interest', 'POS household without interest'], 'POS industry':['POS industry with interest', 'POS industry without interest'],
          'POS others':['POS other with interest', 'POS others without interest']}
for g in groups:
  prev[g] = np.vectorize(lambda x: 1 if x in groups[g] else 0)(prev['PRODUCT_COMBINATION'])
  app_train_p['p_prod_group_' + g + '_percent'] = p_percent_apps(index, prev[prev[g] == 1], 'all')
  prev.drop(columns=[g])

In [ ]:
#other

a = prev.loc[:, ['SK_ID_CURR', 'NFLAG_LAST_APPL_IN_DAY']].groupby('SK_ID_CURR').min()
a.iloc[:,0] = np.vectorize(lambda x: 1 if x == 0 else 0)(a)
app_train_p['p_is_several_a_day'] = a

app_train_p['p_cnt_max'] = prev.loc[:, ['SK_ID_CURR', 'CNT_PAYMENT']].groupby('SK_ID_CURR')['CNT_PAYMENT'].max()

app_train_p['p_ins_ind'] = prev[prev['NAME_CONTRACT_STATUS'] == 'Approved'].sort_values(by='DAYS_DECISION',ascending=False).drop_duplicates(subset='SK_ID_CURR').loc[:,['SK_ID_CURR', 'NFLAG_INSURED_ON_APPROVAL']].groupby('SK_ID_CURR')['NFLAG_INSURED_ON_APPROVAL'].max()

new_c = prev[prev['NAME_CLIENT_TYPE'] == 'New'].loc[:, ['SK_ID_CURR', 'DAYS_DECISION']].groupby('SK_ID_CURR').min()
new_c[1] = np.vectorize(lambda x: 1 if x >= -365 else 0)(new_c['DAYS_DECISION'])
new_c[3] = np.vectorize(lambda x: 1 if x >= -365*3 else 0)(new_c['DAYS_DECISION'])
app_train_p['p_new_client_1'] = new_c[1]
app_train_p['p_new_client_1'] = app_train_p['p_new_client_1'].fillna(0)
app_train_p['p_new_client_3'] = new_c[3]
app_train_p['p_new_client_3'] = app_train_p['p_new_client_3'].fillna(0)

#most_popular
for ch in prev['CHANNEL_TYPE'].unique():
  app_train_p[ch] = p_count_apps(index, prev[prev['CHANNEL_TYPE'] == ch], 'SK_ID_PREV', 'all', 1000)
app_train_p['p_most_popular_channel'] = prev['CHANNEL_TYPE'].unique()[0]
for ch in prev['CHANNEL_TYPE'].unique()[1:]:
  app_train_p['p_most_popular_channel'] = np.vectorize(lambda x: ch if app_train_p.loc[x, ch] > app_train_p.loc[x, app_train_p.loc[x, 'p_most_popular_channel']] else app_train_p.loc[x, 'p_most_popular_channel'])(app_train_p.index)
app_train_p = app_train_p.drop(columns=prev['CHANNEL_TYPE'].unique())

inds = list(prev['NAME_SELLER_INDUSTRY'].unique())
inds.remove('XNA')
for i in inds:
  app_train_p[i] = p_count_apps(index, prev[prev['NAME_SELLER_INDUSTRY'] == i], 'SK_ID_PREV', 'all', 1000)
app_train_p['p_most_popular_industry'] = 0
for i in inds:
  app_train_p['p_most_popular_industry'] = np.vectorize(lambda x: i if (app_train_p.loc[x, 'p_most_popular_industry'] == 0) or
                                                              (app_train_p.loc[x, i] > app_train_p.loc[x, app_train_p.loc[x, 'p_most_popular_industry']])
                                                              else app_train_p.loc[x, 'p_most_popular_industry'])(app_train_p.index)
app_train_p = app_train_p.drop(columns=inds)

In [ ]:
app_train_bureau_prev = app_train_p.merge(app_train_b, on='SK_ID_CURR')
app_train = app_train.set_index('SK_ID_CURR')
app_train_p = app_train_p.merge(app_train, on='SK_ID_CURR')

In [ ]:
app_train_prev = app_train_p.loc[list(set(app_train_p.index) - set(app_train_bureau_prev.index))]
app_train_bureau = app_train_b.loc[list(set(app_train_b.index) - set(app_train_bureau_prev.index))]
app_train_only = app_train.loc[list(set(app_train.index) - set(app_train_bureau_prev.index) - set(app_train_bureau.index) - set(app_train_prev.index))]

app_train_only - Заявки по которым нет дополнительных данных

app_train_bureau - Заявки по которым есть данные только в bureau

app_train_prev - Заявки по которым есть данные только в previous_application

app_train_bureau_prev - Заявки по которым есть данные и в bureau и в previous_applications

In [ ]:
app_train_only.shape[0]+app_train_prev.shape[0]+app_train_bureau.shape[0]+app_train_bureau_prev.shape[0]

307511

In [ ]:
app_train.shape[0]

307511

In [ ]:
app_train_only.to_csv('app_train_only.csv', index=True)

In [ ]:
app_train_res = pd.concat([app_train_only, app_train_bureau, app_train_prev, app_train_bureau_prev])

In [ ]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(app_train_res, test_size = 0.15, stratify=(app_train_res['TARGET'].astype(str) + app_train_res['NAME_CONTRACT_TYPE']))

In [ ]:
train.to_csv('train.csv', index=True)
test.to_csv('test.csv', index=True)